body{
  background-image: url('images/edituser.jpg');
  background-size:cover;
  background-position:left;
}

.alert-success{
  background-color: rgba( 123, 183, 182, 0.3);
  border: solid .5px rgba( 112, 167, 166, 0.3);
  border-radius: 20px;
  color:#70A7A6;
}

.alert-success .close{
    color:#70A7A6;
    opacity:1;
}

.alert-danger{
  background-color: rgba( 226, 148, 127, 0.3);
  border: solid .5px rgba( 214, 123, 113, 0.3);
  border-radius: 20px;
  color:#D67B71;
}


.profile-wrap {
	margin: auto; margin-top: 30px; margin-bottom: 50px;
}

.profile-container {
	padding-top: 40px;
}

.profile-container h1 {
	text-align: center;font-weight: bold; color: #fff; margin-bottom: 25px;
  text-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

#group-training{
  display: none;
}

.session-form {
	padding:35px 40px 30px 40px;
	background: rgba(255,255,255,.9);
	border-radius: 20px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.session-form .form-group{
	margin-top: 5px;
	margin-bottom:20px;
}

.session-form label, .session-form .form-control {
	width:100%; font-size: 80%;color:#70A7A6; display:block; outline: none; text-align: left;
}

.session-form .form-control {
	width:100%;
	color:#31323A;
	font-size: 110%;
	border-radius:20px;
	border:solid .5px #fff;
	padding:10px 20px;
	height: 40px;
	display:block;
	outline: none;
	font-family: "Raleway",sans-serif;
}
.session-form .form-control:focus {border:0.5px solid #70A7A6; }

.session-form #name{
	background: url(smallicons/user.png) no-repeat scroll 16px 8px;
	background-color: rgba( 210, 207, 207, 0.2);
	padding-left:50px;
}

.session-form #email{
	background: url(smallicons/mail.png) no-repeat scroll 16px 8px;
	background-color: rgba( 210, 207, 207, 0.2);
	padding-left:50px;
}

.session-form #password{
	background: url(smallicons/lock.png) no-repeat scroll 16px 8px;
	background-color: rgba( 210, 207, 207, 0.2);
	padding-left:50px;
}

.session-form #confirm_password{
	background: url(smallicons/lock.png) no-repeat scroll 16px 8px;
	background-color: rgba( 210, 207, 207, 0.2);
	padding-left:50px;
}

.session-form #specialty{
	background: url(smallicons/specialty.png) no-repeat scroll 16px 8px;
	background-color: rgba( 210, 207, 207, 0.2);
	padding-left:50px;
}

.session-form p {color:#aaa; font-size: 80%; padding-top: 20px;}

.session-form .button{
	width:100%;
	font-family: "Raleway";
	color:#fff;
	font-weight:bold;
	font-size: 95%;
	background-color: #70A7A6;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 20px;
	border:none;
	padding:10px 20px;
	display:block;
	outline: none;
}
.session-form .button:hover{background: #E2947F;}
.session-form .radio {cursor: pointer; font-size: 90%;}
.session-form .radio input { visibility: hidden; }

.session-form .radio .choice {
	font-family: "Raleway";
	width:100%;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	border: solid .5px rgba(0, 0, 0, 0.2);
	display: inline-block;
	color: #aaa;
	border-radius: 20px;
	text-align: center;
}

.session-form .radio input:checked + .choice {
	background-color: #E2C68A;
	color: #fff;
	border: solid .5px rgba(0, 0, 0, 0);
}

.session-form #error-msg-pg , .session-form #error-msg-sdm{
	display: none;
	color: #E2947F;
	text-align: center;
}
